<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
    <body>
        <div class="cont">
            <div class="layer">

            </div>
        </div>
        <form id="signup" class="bg-light">
            <p class="h4 mt-4 text-center text-info pb-3">User Registration</p>
            <div class="row px-5">
                <div class="form-group col-6">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" placeholder="First name" autocomplete="off" required>
                </div>
                <div class="form-group col-6">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName" placeholder="Last name" autocomplete="off" required>
                </div>
            </div>
            <div class="row px-5">
                <div class="form-group col-6">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" autocomplete="off" required>
                </div>
                <div class="form-group col-6">
                    <label for="password">Phone number</label>
                    <input type="number" class="form-control" id="phoneNo" placeholder="Phone number" autocomplete="off" required>
                </div>
            </div>
            <div class="row px-5">
                <div class="form-group col-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="form-group col-6">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" autocomplete="off" required>
                </div>
            </div>
            <div class="row px-5">
                <div class="form-group col-6">
                    <label for="password">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" autocomplete="off">
                </div>
            </div>
            
            <div class="ml-2 mt-3">
                <button type="submit" class="btn btn-primary col-3">Register</button><br>
                <div class="form-group mt-3 ml-5">Already Registered? <a class="text-info" href="/">Login In</a></div>
                <div class="form-group ml-5">Register as a Hotel? <a class="text-info" href="/registerHotel">Register</a></div>
            </div>
        </form>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>

        <script>

            
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyDBxog49_vq8d8Y89bcIyRdKJ1hHphD7l0",
                authDomain: "ghumphir-88668.firebaseapp.com",
                databaseURL: "https://ghumphir-88668.firebaseio.com",
                projectId: "ghumphir-88668",
                storageBucket: "ghumphir-88668.appspot.com",
                messagingSenderId: "864805870658",
                appId: "1:864805870658:web:d1d2af356688bc4a9a21db"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            const db = firebase.firestore();
            document.addEventListener('submit', (event) => {
                event.preventDefault();
                let email = document.getElementById('email');
                let password = document.getElementById('password');
                let confirmPassword = document.getElementById('confirmPassword');
                let address = document.getElementById('address');
                let phoneNo = document.getElementById('phoneNo');
                let firstName = document.getElementById('fName');
                let lastName = document.getElementById('lName');

                if(password.value != confirmPassword.value){
                    alert("Password don't match");
                }
                else{
                    firebase
                    .auth()
                    .createUserWithEmailAndPassword(email.value, password.value)
                    .then(({user}) => {
                        return db.collection('users').doc(user.uid).set({
                            address: address.value,
                            phoneNo: phoneNo.value,
                            firstName: firstName.value,
                            lastName: lastName.value,
                        })
                        .then(() => {
                            return window.location = '/';
                        })
                    })
                    .catch((error) => {
                        fetch("/signup", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({message: error.message})
                        })
                    })
                }
            });

        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>