

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html{
	height: 100%;
	overflow-x: hidden;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;

}
a{
	text-decoration: none;
}

.cont{
    background-image: url("/images/map.png");
    min-height: 100vh;
    width: 100;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


#login{
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 50px;
    position: absolute;
    top: 10vh;
}

.layer {
    background-color: rgba(92, 92, 92, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#signup{
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    margin-top: -30px;
    position: absolute;
    top: 10vh;
}

#hotelSignup{
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    margin-top: -30px;
    position: absolute;
    top: 10vh;
}

#login .form-group{
    margin: 30px 40px;
}

#login button, #signup button{
    margin-left: 40px;
}

.room{
    background-color: rgba(248, 249, 250, 0.4);
    font-size: 1.2em;
    width: 100%;
    display: inline-block;
}
.headingRooms{
    color: #eb4034;
    font-weight: bold;
    font-family: Georgia, serif;
}

/*booking*/


.section1::after{
	margin-top: 30px;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

/*booking */
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../images/carousel.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #181818;
	font-weight: 900;
}

.booking-cta p {
	font-size: 22px;
	color: #181818;
}

.booking-form {
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px 30px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 55px;
	padding: 0px;
	padding-top: 15px;
	color: #181818;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-control::placeholder {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(0, 0, 0, 0.2);
}

.booking-form .form-group:not(.input-not-empty) .form-control:not(:focus) {
	color: transparent;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 7px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.2);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: rgba(0, 0, 0, 0.2);
	font-weight: 700;
	position: absolute;
	top: 20px;
	left: 0px;
	text-transform: uppercase;
	line-height: 24px;
	height: 23px;
	font-size: 16px;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group .form-control:focus+.form-label {
	top: 0px;
	color: #2b9328;
	font-size: 14px;
}

.booking-form .form-group.input-not-empty .form-label {
	top: 0px;
	color: #2b9328;
	font-size: 14px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #2b9328;
	font-weight: 700;
	height: 55px;
	padding: 10px 35px;
	font-size: 18px;
	border: none;
	display: block;
	width: 100%;
	text-transform: capitalize;
}

/* slider */

#carouselExampleIndicators{
	margin-top: 30px;
}
#carouselExampleIndicators .carousel-item{
	height: 550px;

}

#slide1{
	background: url('../images/slider8.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}

#slide2{
	background: url('../images/carousel7.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}
#slide3{
	background: url('../images/carousel.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}
.carousel-item img {
	width: 100%;
	height: auto;
	
  }
  .carousel-caption{
	  margin-bottom: 200px;
  }

  .carousel-caption h5{
	  font-size: 40px;
	  text-transform: uppercase;
  }

  .carousel-caption .button{
	border-radius: 20px;
	border: none;
	color: #ffffff;
	text-align: center;
	padding: 5px 25px 5px 25PX;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

}

.button span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.button span::after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}
.button:hover span{
	padding-right: 20px;

}

.button:hover span::after{
	opacity: 1;
	right: 0;
}


/* responsiveness */

@media screen and (max-width: 768px) {
   .carousel-caption h5{
        font-size:14px;
    }
}

.fa-trash:hover{
	cursor: pointer;
}

/* contact form */
/* 
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
} */


/*footer */

